version: "3.9"

services:
  backend:
    build:
      context: ./back
    container_name: task_backend
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped

  frontend:
    build:
      context: ./front
    container_name: task_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: unless-stopped
